[submodule "vendor/tinyobjloader"]
	path = vendor/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader
[submodule "vendor/ImGui/repo"]
	path = vendor/ImGui/repo
	url = https://github.com/ocornut/imgui
	branch = docking
[submodule "vendor/VkPlayground/repo"]
	path = vendor/VkPlayground/repo
	url = https://github.com/AsperTheDog/VkPlayground
[submodule "vendor/ImGui/nodeRepo"]
	path = vendor/ImGui/nodeRepo
	url = https://github.com/Fattorino/ImNodeFlow
